@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-600 bg-slate-50;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-slate-900;
  }
}
