@import "tailwindcss";

@theme {
  --color-primary-50: #EFF6FF;
  --color-primary-100: #DBEAFE;
  --color-primary-200: #BFDBFE;
  --color-primary-300: #93C5FD;
  --color-primary-400: #60A5FA;
  --color-primary-500: #3B82F6;
  --color-primary-600: #2563EB;
  --color-primary-700: #1D4ED8;
  --color-primary-800: #1E40AF;
  --color-primary-900: #1E3A8A;
  --color-primary-950: #172554;

  --color-accent-50: #FFFBEB;
  --color-accent-100: #FEF3C7;
  --color-accent-500: #F59E0B;
  --color-accent-600: #D97706;

  --font-sans: "Open Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply antialiased text-slate-600 bg-slate-50 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-slate-900;
  }
}